### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [105]:
a =[]
print(a)

# l =list
# print(l)

[]

Create a list of your favorite colors and print it.

In [106]:
l = ["read","blue","green","pink"]
l

['read', 'blue', 'green', 'pink']

Create a list that includes a mix of data types (integers, strings, floats).

In [107]:
m = ["Monday","2.3",1]
m

['Monday', '2.3', 1]

Access the first element of a list.

In [108]:
m = ["Monday","2.3",1]
m[0]

'Monday'

Access the last element of a list.

In [109]:
m = ["Monday","2.3",1]
m[len(m)-1]

1

 Access the second and third elements of a list.

In [110]:
print(m[-2])
m[-3]

2.3

'Monday'


Slice a list to extract the first three elements.

In [111]:
l =[1,2,3,4,5,6,7,8,9]
l[:4]

[1, 2, 3, 4]

Slice a list to extract the last three elements.

In [112]:
l[-4:]
l[-1:-5:-1]

[9, 8, 7, 6]

Slice a list to get every second element.

In [113]:
l[1::2]

[2, 4, 6, 8]

Reverse a list using slicing.

In [114]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

 Create two lists and concatenate them.

In [115]:
l1 = ["mon","tue","wed"]
l2 =["thurs","fri","sat"]
print(l1+l2)

['mon', 'tue', 'wed', 'thurs', 'fri', 'sat']


Repeat a list multiple times using the repetition operator

In [116]:
l = ["mon","tue","wed"]
a = l*10
print(a)

['mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed']

Add a new element to the end of a list using the append() method.

In [117]:
l1 = ["mon","tue","wed"]
l1.append(3)
print(l1)

['mon', 'tue', 'wed', 3]


Extend a list with elements from another list using the extend() method.

In [118]:
l1 = ["mon","tue","wed"]
l1.extend(["thursday"])
print(l1)

['mon', 'tue', 'wed', 'thursday']

Insert an element at a specific index in a list using the insert() method.

In [119]:
l1.insert(2,"Fri")
l1

['mon', 'tue', 'Fri', 'wed', 'thursday']

 Remove the last element from a list using the pop() method.

In [120]:
l1.pop()
print(l1)

['mon', 'tue', 'Fri', 'wed']

Remove a specific element from a list using the remove() method.

In [121]:
l1.remove("Fri")
print(l1)

['mon', 'tue', 'wed']

Clear all elements from a list.

In [122]:
l1.clear()
print(l1)

[]

Delete an element at a specific index using the del statement.

In [123]:
k = ["amna", "ali", "ahmed"]
del k[1]
print(k)

['amna', 'ahmed']

Convert a string to a list of characters and vice-versa.

In [126]:
s ="filza"
a = list(s)
print(a)

Sort a list in ascending order using the sort() method.

In [133]:
l = [7, 5, 3, 6, 2, 4, 9]
l.sort()
print(l)

[2, 3, 4, 5, 6, 7, 9]
[2, 3, 4, 5, 6, 7, 9]


Sort a list in descending order using the sort() method.

In [142]:
l = [7, 5, 3, 6, 2, 4, 9]
l =["mondy","auesday","bedenesy"]
l.sort()

print(l)

['auesday', 'bedenesy', 'mondy']

Reverse the order of a list using the reverse() method.

In [143]:
l =["mondy","tuesday","wedenesy"]
# l = [7, 5, 3, 6, 2, 4, 9]
l.reverse()
print(l)

['wedenesy', 'tuesday', 'mondy']

Check if an element is present in a list using the in operator.

In [147]:
l =["mondy","tuesday","wedenesy"]
n = input("enter the check element")
if n in l:
    print("test passed")

enter the check elementmondy
test passed

Compare two lists to see if they are equal in both value and identity.

In [4]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
if list1==list2:
    print("list have same values")
else:
    print("lsit have no same value")
if list1 is list2:
    print("The lists have the same identity.")
else:
    print("The lists do not have the same identity.")
list1 = list2
print(id(list1)) 
print(id(list2))
if list1 is list2:
    print("yess")

list have same values
The lists do not have the same identity.
1304977471936
1304977471936
yess

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [161]:
original_list = [1, 2, 3]
shallow_copy = original_list.copy()
original_list.append(4)
print(id(original_list))
print(id(shallow_copy))
print(original_list)
print(shallow_copy)

original_list = [1, [2, 3], 4]
deep_copy = original_list.copy()
original_list[1][0] = 5
print("Original list:", original_list)
print("Deep copy:", deep_copy)

2622065340928
2622064666816
[1, 2, 3, 4]
[1, 2, 3]
Original list: [1, [5, 3], 4]
Deep copy: [1, [5, 3], 4]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [162]:
import copy
original_list = [1, [2, 3], 4]
deep_copy = copy.deepcopy(original_list)
original_list[1][0] = 5
print("Original list:", original_list)
print("Deep copy:", deep_copy)

Original list: [1, [5, 3], 4]
Deep copy: [1, [2, 3], 4]

Pickle and Unpickle a list and display its content.

In [165]:
import pickle

original_list = [1, 2, 3, 4, 5]

pickled_list = pickle.dumps(original_list)

unpickled_list = pickle.loads(pickled_list)

print("pickled List:", pickled_list)
print("Unpickled List:", unpickled_list)

pickled List: b'\x80\x04\x95\x0f\x00\x00\x00\x00\x00\x00\x00]\x94(K\x01K\x02K\x03K\x04K\x05e.'
Unpickled List: [1, 2, 3, 4, 5]